<div class='mt-4'>
	<h3>Sửa KHÓA HỌC</h3>

	<form class='mt-4' method='POST' action='/courses/{{course._id}}?_method=PUT'>
		<div class='mb-3'>
			<label for='name' cclass='form-label'>Tên khóa học</label>
			<input
				type='text'
				class='form-control'
				id='name'
				name='name'
				value='{{course.name}}'
			/>
		</div>
		<div class='mb-3'>
			<label for='description' class='form-label'>Mô tả</label>

			<textarea
				class='form-control'
				aria-label='description'
			>{{course.description}}</textarea>

		</div>

		<div class='mb-3'>
			<label for='videoId' class='form-label'>Video ID</label>

			<input
				type='text'
				class='form-control'
				id='videoId'
				name='videoId'
				value='{{course.videoId}}'
			/>
		</div>
		<div class='mb-3'>
			<label for='level' class='form-label'>Trình độ</label>

			<input
				type='text'
				class='form-control'
				id='level'
				name='level'
				value='{{course.level}}'
			/>
		</div>

		<button type='submit' class='btn btn-primary'>Lưu lại</button>
	</form>

</div>